body {
  font-family: "Roboto", sans-serif;
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 16px;
  color: #e3e3e3;
  background-color: #121212;
}

h1 {
  color: #8ab4f8;
  text-align: center;
}

table {
  width: 100%;
}

th {
  background-color: #1f3a5f;
  color: #e3e3e3;
  padding: 12px 12px;
}

th:first-child {
  border-top-left-radius: 12px;
}

th:last-child {
  border-top-right-radius: 12px;
}

td {
  padding: 3px 3px;
  padding-left: 12px;
  background-color: #1e1e1e;
}
